/target
/www
/out
/.*.mrk
/node_modules
/cljs-test-runner-out
/stuffs

package-lock.json
/parser

/.nrepl-port
/.dir-locals.el
/.sass-cache
/.cljs_rhino_repl
/.repl
/.cljs_node_repl
/.rebel_readline_history
/.cpcache
figwheel_server.log

.#*
*.jar
*.class
*.swp
*.swo

/classes
/checkouts
/repl
pom.xml
pom.xml.asc
profiles.clj
.idea
.DS_Store
*.iml
TAGS
trace.edn
